@charset "UTF-8";
*{
	box-sizing: border-box;
}
ul,ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
body{
	padding: 0;
	margin : 0;
	transition: 0.5s;
}
#header{
	z-index:3;
	position: fixed;
	width: 100%;
	height: 10%;
	top:0;
	background-color: #fff;
}
.header_inner{
	position: relative;
	height: 100%;
	width: 85%;
	margin: 0 auto;
	text-align: right;
}
.header_img{
	height: 100%;
	margin-left: 5%;
	float: left;
	cursor: pointer;
}
.header_nav_div{
	position:absolute;
	width: 60%;
	bottom: 0;
	right: 0;
}
.header_nav_li{
	font-size:20px;
	cursor: pointer;
	color:#888;
	padding-bottom: 1%;
	font-weight: bold;
	display: inline-block;
	margin-left: 3%;
	border-bottom: 2px solid #fff;
}
.header_nav_li:hover{
	color: #83E3BD;
	border-bottom: 2px solid #83E3BD;
	transition: 0.1s;
}

.header_inner:after{
	display: block;
	content:"";
	clear: both;
}
/* =============================================== */

#container{
	z-index: 1;
	width: 100%;
	font-family: 'Nanum Gothic', sans-serif;
}

.con_sec{
	width: 100%;
}
.sec_inner{
	width: 85%;
	height: 100%;
	margin: 0 auto;
}

/* ========= sec01 =============*/

#sec01{
	background-color: #83E3BD;
	height: 600px;
}

.sec01_inner{
	position: relative;
}

.sec01_inner_title{
	font-size: 43px;
	color: #fff;
	font-weight: bold;
}
.sec01_inner_txt{
	margin-left: 3%;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

.sec01_inner_div{
	width: 50%;
}

.sec01_inner_div1{
	position: absolute;
	bottom:0;
	height: 60%;
	right: 0;
	text-align: left;
}
.sec01_inner_div2{
	position: absolute;
	left:0;
	bottom: 0;
	height: 75%;
	text-align: right;
	padding-right: 3%;
}

.sec01_img{
	z-index: -1;
	width: 400px;
}

/* ========= sec01 End =============*/

/* ========= sec02 =============*/
#sec02{
	background-color: #fff;
	height: 860px;
}
.sec02_inner{
	overflow: hidden;
	position: relative;
}
.sec02_inner_banner{
	height: 100%;
	width: 200%;
	position: absolute;
	top:0;
	left: 0;
	transition:0.8s;
}

.sec02_inner_btn{
	position: absolute;
	cursor:pointer;
	top:400px;
	width: 2%;
	height: 60px;
}

.sec02_inner_lbtn{
	left:3%;
}
.sec02_inner_rbtn{
	right: 3%;
}

.banner_inner{
	width:50%;
	height: 100%;
	text-align: center;
}
.banner_inner01{
	float: left;
}
.banner_inner02{
	float: right;
}

.sec02_inner_banner:after{
	display: block;
	content: "";
	clear: both;
}

.banner_info{
	width: 80%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

.banner_info_01{
	width:70%;
	margin: 5% auto 0;
}
.info_title_ul{
	list-style: disc;
	font-size: 20px;
	padding: 3% 0 0 3%;
	border-top: 3px solid #3783FF;
}
.info_title_ul> li{
	font-family: 'Jua', sans-serif;
}

.banner_info_text{
	width:80%;
	float: left;
	text-align: left;
	padding: 3% 0 0 3%;
}

.info_title{
	font-size:40px;
	font-weight: bold;
	color: #3783FF;
	font-family: 'Do Hyeon', sans-serif;
}
.banner_info_img{
	width: 20%;
	float: right;
}

.banner_info_01:after{
	display:block;
	content: "";
	clear: both;
}
.banner_info_img> img{
	width: 100%;
}
.banner_info_02{
	width: 70%;
	height: 50%;
	margin: 5% auto 0;
	text-align: center;
}
.info_table tr th{
	background-color: #3783FF;
	color: #fff;
	border: 1px solid #3783FF;
}

.info_table td{
	border: 1px solid #3783FF;
}
.info_table{
	width: 100%;
	height: 100%;
	font-size:14px;
	font-family: 'Jua', sans-serif;
	border-collapse: collapse;
}





/* ========= sec02 End =============*/

/* ========= sec03 =============*/
#sec03{
	background-color: #DAF8ED;
	height: 600px;
}

.sec03_inner_title{
	width: 100%;
	height:30%;
}

.sec03_inner_content{
	width: 100%;
	height: 70%;
}




/* ========= sec03 End =============*/
#sec04{
	background-color: #B6E4E9;
	height: 600px;
}


/* =================================== */
#footer{
	width: 100%;
	background-color: #307186;
}
.footer_inner{
	text-align: center;
	overflow: hidden;
}

.footer_top{
	height: 50px;
	
}
.footer_nav_ul{
	margin-bottom: 30px;
}
.footer_nav_ul> li{
	display: inline-block;
	margin : 0 5px;
	font-size: 0.8em;
	font-weight: bold;
	color: #ccc;
}

.footer_info{
	font-size: 0.8em;
	font-weight: bold;
	margin-bottom: 50px;
}
